/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#pane{
	-fx-background-image: url("table_background.jpg");
	-fx-background-size: 1100 700;
}

#inner_pane{
	-fx-background-image: url("background_c_painterhoya.jpg");
	-fx-background-size: 1025 650;
}